---
# default "About" page layout
layout: default
---
<div class="container my-4 about-contents">
{{ content }}
</div>

#Home
Welcome to Khedival American Soldiers, a comprehensive digital collection dedicated to preserving the works of 48 American Civil War veterans who served in the Egyptian Army from 1869-1879. Ranging from explorers to engineers, from sixty year-old veterans to twenty-year old captains, and from Union to Confederate affiliations, this website captures the lives of 48 soldiers who lived fascinating lives. Each soldier has his own folder filled with photographs, published works, and manuscripts as well. These items vary as much as their owners do, including, but not limited to: memoirs, diaries, scientific articles, reconnaissance reports, and fictional tales. 

{% if page.credits == true %}{% include cb/credits.html %}{% endif %}
